/*
colors used */
:root{
--light-gray:#d6d6c2;
--primary-color:#357b70;
--secondary-color:#e0b345;
--body-background-color: #ffffff;
--font-color-white: #ffffff;
--font-weight: 700;
--green: #00cc00;
--blue: #0039e6;
--animation-start: #edc655;
--animation-middle: #fcffad;
--animation-end: #f76414;
}

html{
	height:100%;
}
*{
	box-sizing: border-box;
}

/* body styling */
body{
	background-color: var(--body-background-color);
	font-family: 'Lato', sans-serif;
	font-weight: var(--font-weight);
	font-size: 16px;
	line-height: 1.6;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	} 
	
	/* header styles */
h1	{
	font-weight: var(--font-weight);
	font-size: 30px;
	font-style: italic;
	}
h2{
	font-weight: var(--font-weight);
	font-size: 24px;
	}
h3{
	font-weight: var(--font-weight);
	font-size: 18px;
	}
span{
	text-decoration: underline;
	}
/* anchor tags */
a{
	color: var(--primary-color);
}
a:hover, a:focus{
	/*no underlining when hovering over a link*/
	text-decoration: none;
}
a:visited{
	/*visited link*/
	color: var(--blue);
}
a:active{
	/*selected link*/
	color:var(--green);
}
button, .button{
	/* overwrites browser defaults and resets the border */
	border: none;
	/*overwrites the default font of the browser and inherits the font fro the outer container */
	font-family: inherit;
	/* styles the background color, the font color and the text decorataion of the text in the button */
	background-color: var(--green);
	color: var(--font-color-white);
	text-decoration: none;
	/*adds spacing to the button */
	padding:10px;
	border-radius: 3px;
	margin-top: 10px;
	/* gives the button a width of 2px, a type of solid and a color in RGBA format */
	border-bottom: 2px solid RGBA(0,0,0,0.3);
	transition: 0.2s opacity; 	
}


button:hover, button:focus, .button:hover, .button:focus{
	/* lets the mouse turn into a hand when hovered over the button */
	cursor: pointer;
	/* lets the button to turn lighter when hovered over by the cursor */
	opacity: 0.8;
}

.button_secondary{
	color: var(--font-color-white);
	background-color: var(--green);
}
.navigation-list{
	cursor: pointer;
}
.navigation-list__item--active{
	color:var(--green);
/*	text-decoration: none; */
}
.logo{
	position: relative;
	top: 10%;
	left: 10%
}
.profile__portrait{
	float: left;
	width: 250px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius:50%;
}
.profile-items{
	margin-top: 20px;
}
.page__footer{
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.profile{
	max-width: 700px;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

/* page header */
.page-header{
	display: flex;
	width: 100%;
	padding: 20px;
	border-bottom: 0.5px solid;
}
.page-header__item{ /* this rule is to arrange the navigation bar in certain fraction of the header container */
	flex: 0 1 200px;
}
.main-navigation page-header__item: {
	display: flex;
	flex-grow: 1;
	text-align: right;
}
/*.navigation-list{ /* this rule is to remove the bullet points from the the list options 
	list-style-type: none;
} */
.navigation-list li{
	list-style-type: none;
	display: inline-block;
	margin-left: 15px;
}

.grid{
	display: grid;
	/*
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px; */
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 5px;
}

.grid-item{
	background-color: var(--light-gray); 
    border: 1px solid #357b70;
    padding: 10px; 	
}

@media all and (max-width: 500px){
	.grid{
		grid-template-columns: 1fr;
	}
} 

@media all and (min-width: 500px) and (max-width: 750px){
	.grid{
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px){
	.grid{
		grid-gap: 10px;
	}
	.grid-item:last-child{
		grid-column: auto/auto;
		grid-row: auto/auto;
	}
	h1{
		font-size: 22px;
	}
}

.about-items{
	list-style-type: none;
}

.about{
	display: flex;
	flex-direction: column;
	text-align: center;
}
/*}
.button{
	width: 150px;
	align-items: center;
} */
.berlin-illustration{
	display: flex;
	width: 100%;
	justify-content: center;
}




@keyframes color-change{
	0%{
		fill: #edc655;/*var(--animation-start)*/
	}
	50%{
		fill: #fcffad;/*var(--animation-middle)*/
	}
	100%{
		fill: #f76414; /*var(--animation-end)*/
    }
}



.sun{
	animation: 4s color-change infinite alternate linear;
}



@keyframes cloud-move{
	from {
		transform: translate(0px, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}



.cloud-front{
	animation: 30s cloud-move infinite alternate linear;
}



@keyframes cloud-move-reverse{
	from{
		transform: translate(446px, 48px);
	}
	to{
		transform: translate(100px, 48px);
	}
}



.cloud-back{
	animation: 34s cloud-move-reverse infinite alternate linear;
}

	



