/*
colors used */
:root{
--light-gray:#d6d6c2;
--border-outline: 1px solid #000000;
--black: #111111;
--primary-color:#357b70;
--secondary-color:#e0b345;
--body-background-color: #ffffff;
--white: #ffffff;
--font-weight: 700;
--green: #00cc00;
--blue: #0039e6;
--animation-start: #edc655;
--animation-middle: #fcffad;
--animation-end: #f76414;
}

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none; 
}

html{
	height:100%;
}
*{
	box-sizing: border-box;
}

/* body styling */
body{
	background-color: var(--body-background-color);
	font-family: 'Lato', sans-serif;
	font-weight: var(--font-weight);
	font-size: 16px;
	line-height: 1.6;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	} 
	
	/* header styles */
h1	{
	font-weight: var(--font-weight);
	font-size: 30px;
	font-style: italic;
	}
h2{
	font-weight: var(--font-weight);
	font-size: 24px;
	}
h3{
	font-weight: var(--font-weight);
	font-size: 18px;
	}
/* anchor tags */
a{
	color: var(--white);
}
a:hover, a:focus{
	/*no underlining when hovering over a link*/
	text-decoration: none;
	color: #006c87;
}
a:visited{
	/*visited link*/
	color: var(--blue);
}
a:active{
	/*selected link*/
	color:var(--green);
}
button, .button{
	/* overwrites browser defaults and resets the border */
	border: none;
	/*overwrites the default font of the browser and inherits the font fro the outer container */
	font-family: inherit;
	/* styles the background color, the font color and the text decorataion of the text in the button */
	background-color: var(--green);
	color: var(--white);
	text-decoration: none;
	/*adds spacing to the button */
	padding:10px;
	border-radius: 3px;
	margin-top: 10px;
	/* gives the button a width of 2px, a type of solid and a color in RGBA format */
	border-bottom: 2px solid RGBA(0,0,0,0.3);
	transition: 0.2s opacity; 	
}


button:hover, button:focus, .button:hover, .button:focus{
	/* lets the mouse turn into a hand when hovered over the button */
	cursor: pointer;
	/* lets the button to turn lighter when hovered over by the cursor */
	opacity: 0.8;
}

.button_secondary{
	color: var(--white);
	background-color: var(--green);
}

.navigation-list{
	cursor: pointer;
}
.navigation-list__item--active{
	color:var(--green);
/*	text-decoration: none; */
}

.profile__portrait{
	float: left;
	width: 250px;
	margin-right: 20px;
	margin-top: 20px;
	border-radius:50%;
}
.profile-items{
	margin-top: 20px;
}
.page__footer{
	clear: both;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.profile{
	max-width: 700px;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.grid{
	display: grid;
	/*
	grid-template-columns: 300px 300px 300px;
	grid-template-rows: 300px 300px; */
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	padding: 5px;
}

.grid-item{
	background-color: var(--body-background-color); 
    border: var(--border-outline) ;
    padding: 10px; 	
}

@media all and (max-width: 500px){
	.grid{
		grid-template-columns: 1fr;
	}
} 

@media all and (min-width: 500px) and (max-width: 750px){
	.grid{
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px){
	.grid{
		grid-gap: 10px;
	}
	.grid-item:last-child{
		grid-column: auto/auto;
		grid-row: auto/auto;
	}
	h1{
		font-size: 22px;
	}
}

.about-items{
	list-style-type: none;
}

.about{
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
} 

.button{
	width: 150px;
	align-items: center;
	position: relative;
	left: 45%;
} 
.berlin-illustration{
	display: flex;
	width: 100%;
	justify-content: center;
}




@keyframes color-change{
	0%{
		fill: var(--animation-start);
	}
	50%{
		fill: var(--animation-middle);
	}
	100%{
		fill: var(--animation-end);
    }
}



.sun{
	animation: 4s color-change infinite alternate linear;
}



@keyframes cloud-move{
	from {
		transform: translate(0px, 50px);
	}
	to {
		transform: translate(200px, 50px);
	}
}



.cloud-front{
	animation: 30s cloud-move infinite alternate linear;
}



@keyframes cloud-move-reverse{
	from{
		transform: translate(446px, 48px);
	}
	to{
		transform: translate(100px, 48px);
	}
}



.cloud-back{
	animation: 34s cloud-move-reverse infinite alternate linear;
}

/* header styling */
.header{
	width:100%;
	height: 100px;
	background-color: var(--black);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	
}
.logo-container{
	height: 100%;
	display: flex;
	float: left;
	align-items: center;
	position: relative;
	top: 20%;
	
}
.logo-container h1{
	color: var(--white);
	height: 100%;
	display: flex;
	font-size: 30px;
	font-weight: 150;
	text-transform: uppercase;
}
.logo-container h1 span{
	font-weight: 800;
	margin-left: 10px;
}
.navigation-list{
	list-style-type: none;
	padding: 10px;
	margin: 10px;

}
.navigation-list li{
	display: inline-block;
	padding: 0 15px;
	padding: 10px;
	margin: 10px;
	text-transform: uppercase;
}
.navigation-list li a{
	color: var(--white);
}
.navigation-list li a:hover{
	color: #006c87;	
}

.navigation-list a:last-child{
	padding-right: 0;
	flex-grow: 1;
	text-align: right;
}
.contact-item a{
	color: #615f5f;
}
@media all and (max-width: 500px) {
	.navigation-list li{
		flex-direction: column;
	}
}
#contact-form{
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: center;
	padding: 10px;
	border: var(--border-outline);
	margin-top: 20px;
	
}
.standard-label{
	align-items: center;
}




